// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;
$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.login {
  text-align: center;
  h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #444;
    font-size: 4em;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  .social-login {
    padding-top: 20vh;
    .logo-img {
      width: 75px;
    }
    a.btn {
      display: inline-block;
      width: 100px;
      margin: 10px;
      height: 100px;
      transition: transform 0.2s linear, background 0.3s linear, color 0.2s linear;
      transform: scale(0.9);
      text-align: center;
      border-radius: 50%;
      &.btn-facebook {
        border: 2px solid #3B5998;
        color: #3B5998;
        &:hover {
          background-color: #3B5998;
          color: #fff;
        }
      }
      &.btn-google-plus {
        border: 2px solid #dd4b39;
        color: #dd4b39;
        &:hover {
          background-color: #dd4b39;
        }
      }
      &.btn-twitter {
        border: 2px solid #2daddc;
        color: #2daddc;
        &:hover {
          background-color: #2daddc;
        }
      }
      &:hover {
        transform: scale(1.0);
        color: #fff;
      }
      i {
        font-size: 2.5em;
        line-height: 2.5em;
      }
    }
  }
}