<div class="container login">
    <div class="row">
        <div class="social-login">
            <h1>Housey</h1>
            <div>
                <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
