body {
  position: relative;
}
#ticket-header {
  h1 {
    margin: 0;
    padding: 20px;
  }
}

.ticket-container {
  .ticket {
    overflow: hidden;
    max-width: 540px;
    margin: 0 auto;
    padding-top: 14vh;
    .num-section {
      display: block;
      border: 1px solid #ccc;
      color: #000;
      font-weight: bold;
      margin: 2px;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      position: relative;
      &.disabled {
        color: #ccc;
        transform: scale(0.8);
        border: 1px solid #eee;
        pointer-events: none;
      }
      .number {
        width: 25px;
        height: 25px;
        font-size: 1.3em;
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

.ticket-footer {
  position: absolute;
  width: 100%;
  display: block;
  padding-bottom: 20px;
  left: 0;
  bottom: 0;
  .claims-list {
    position: relative;
    & > a {
      display: block;
      width: 150px;
      text-align: center;
      padding: 5px 10px;
    }
    .bootstrap-dropdown {
      padding: 5px;
      border-radius: 5px;
      bottom: 30px;
      z-index: 101;
      left: 10px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.15);
      position: absolute;
      width: 150px;
      display: none;
    }
    &.open {
      .bootstrap-dropdown {
        display: block;
      }
    }
    ul {
      list-style: none;
      li {
        a {
          display: block;
          padding: 5px 10px;
          text-decoration: none;
          color: #333;
          border-radius: 3px;
          &:hover {
            background-color: #07f;
            color: #fff;
          }
        }
      }
    }
  }
}