<div>
    <div ng-include="'components/navbar/navbar.html'"></div>

    <div class="lives">
        <p>Health</p>

        <div class="heart"><i class="fa fa-heart"></i></div>
        <div class="heart"><i class="fa fa-heart"></i></div>
        <div class="heart"><i class="fa fa-heart-o"></i></div>
    </div>

    <div class="ticket-container">
        <div class="ticket">
            <div data-ng-repeat="row in ctrl.ticket.board track by $index">
                <a href="#" class="num-section"
                   data-ng-click="item && ctrl.toggle(item)"
                   data-ng-class="{marked: ctrl.selected[item]}"
                   data-ng-repeat="item in row track by $index">
                <span class="number">
                    {{item}}
                </span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer ticket-footer">
        <div class="claim-area pull-left">
            <div class="claims-list">
                <a href="javascript:void(0)" class="claim-btn" data-toggle="dropdown">Claim</a>
                <ul class="bootstrap-dropdown">
                    <li data-ng-repeat="rule in ctrl.game.rules" data-ng-click="ctrl.fireClaim(rule)">
                        <a href="javascript:void(0)"> {{rule.name}} </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="chat-area">
            <form data-ng-submit="ctrl.sendChat()">
                <div class="chat-text">
                    <input type="text" data-ng-model="ctrl.message" class="hkv-textbox"/>
                    <button type="submit" class="claim-btn send-chat pull-left"><i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
