<div class="col-xs-12 projector">
    <div class="pull-left"><a href="/"><img class="logo-img" src="/assets/images/housie-logo.png" alt="Housie logo"/></a></div>
    <div class="brand">
        <span class="time-elapsed">{{"15m 03s"}}</span>
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="InputEmail">Invite friends</label>-->
          <!--<input type="email" class="form-control" id="InputEmail"-->
                 <!--placeholder="Email" ng-model="inviteEmail">-->
          <!--<button type="button" class="btn btn-warning"-->
                  <!--ng-click="sendInvite(getCurrentUser())" ng-disabled="!inviteEmail">Send-->
            <!--Invite</button>-->
        <!--</div>-->
        <!--<div class="alert alert-warning alert-dismissible fade in"-->
             <!--role="alert" ng-if="showMessage">-->
          <!--{{alertMessage}}-->
        <!--</div>-->
        <!--</form>-->

    </div>

    <div class="lives">
        <p class="pull-left">Health:</p>
        <div class="heart pull-left"><i class="fa fa-heart"></i></div>
        <div class="heart pull-left"><i class="fa fa-heart"></i></div>
        <div class="heart pull-left"><i class="fa fa-heart-o"></i></div>
    </div>

    <div class="veronica-cont">
        <div class="veronica">
            <div class="wrapper"></div>
            <span class="number">{{projector.number.number || "..."}}</span>
        </div>
        <div class="veronica-shadow"></div>
    </div>

    <div class="rules">
        <h3>Prizes Remaining</h3>
        <ul>
            <li data-ng-repeat="rule in projector.game.rules"
                data-ng-class="{'strike-through': rule.wonBy}">{{rule.name}}
            </li>
        </ul>
    </div>

    <div style="position: absolute; left: 25px; bottom:  25px;">
        <btn class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-share" data-ng-click="projector.invite()"></span>
        </btn>
    </div>

    <div class="players" style="text-align: center; position: absolute; bottom: 25px;width: 100%;">
        <p>
            <span data-ng-repeat="player in projector.connectedPlayers"
                  uib-popover="{{player.message}}"
                  popover-placement="top"
                  popover-trigger="none"
                  popover-is-open="player.message.length > 0"
                    >{{player.name[0]}}</span>
        </p>

    </div>

</div>