<div class="col-xs-12 projector" style="position: relative;height: 100%;">
    <div class="brand">
        <span class="name">Housie</span>
        <span class="tagline">fun filled family game</span>
        <span class="time-elapsed">Time elapsed {{"18:25"}}</span>
      <form>
        <div class="form-group">
          <label for="InputEmail">Invite friends</label>
          <input type="email" class="form-control" id="InputEmail"
                 placeholder="Email" ng-model="inviteEmail">
          <button type="button" class="btn btn-warning" ng-click="sendInvite(getCurrentUser())">Send
            Invite</button>
        </div>
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close" ng-if="showMessage">
          <span aria-hidden="true">{{alertMessage}} &times;</span>
        </button>
        </form>

    </div>

    <div class="veronica">
        <div class="wrapper"></div>
        <span class="number">{{projector.number.number || "..."}}</span>
    </div>

    <div class="rules">
        <h3>Prizes Remaining</h3>
        <ul>
            <li data-ng-repeat="rule in projector.game.rules">{{rule.name}}</li>
        </ul>
    </div>

    <div class="players" style="text-align: center; position: absolute; bottom: 25px;width: 100%;">
        <p>
            <span data-ng-repeat="player in projector.game.players">{{player.name[0]}}</span>
        </p>

    </div>

</div>