.projector {
  .brand {
    position: absolute;;
    top: 25px;
    left: 25px;
    font-size: 30px;
    span {
      display: block;
    }
    .name {

      font-size: 35px;
    }

    .tagline {
      font-size: 15px;
    }
    .time-elapsed {
      margin-top: 25px;
      font-size: 15px;
    }
  }
  .veronica {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 250px;
    text-align: center;
    border: thin solid #ddd;
    border-radius: 250px;
    .wrapper {
      width: 100%;
      height: 100%;
      position: relative
    }
    .number {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      line-height: 72px;
      font-size: 72px;
      height: 72px;
    }
  }

  .rules {
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: right;
    ul {
      list-style: none;
      li {
        margin-bottom: 15px;
      }
    }
  }
  .players {
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    span {
      color: #fff;
      width: 75px;
      height: 75px;
      margin: 10px;
      font-size: 30px;
      background-color: #00b3ee;
      border-radius: 75px;
      border: thin solid #EEE;
      display: inline-block;
      line-height: 75px;

    }
  }
}