<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="code" class="text-primary">Enter code to join</label>
          <input type="text" class="form-control" id="code"
                 placeholder="Code" ng-model="code">
        </div>
        <button type="submit"
                class="btn btn-warning" ng-disabled="!code"><icon
            class="glyphicon glyphicon-arrow-right" ng-click="openTicket(getCurrentUser())"></icon></button>
      </form>
    </div>
  </div>
</div>

