<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container login join-section">
    <div class="row social-login">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <label for="code" class="text-label large">Enter code to join</label>
                    <p class="text-label">Enter the code you received from the host via Email or any other medium</p>
                    <br/>
                    <input type="text" class="form-control hkv-textbox" id="code"
                           placeholder="Code" ng-model="code">
                </div>
                <button type="submit" class="btn btn-warning hkv-btn" ng-disabled="!code"
                        ng-click="openTicket(getCurrentUser())">
                    Proceed <i class="fa fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>

